[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:ssiyad/nvim.git
[submodule "qutebrowser/.config/qutebrowser/catppuccin"]
	path = qutebrowser/.config/qutebrowser/catppuccin
	url = https://github.com/catppuccin/qutebrowser
[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "mako/.config/mako/mako"]
	path = mako/.config/mako/mako
	url = git@github.com:acid-theme/mako.git
[submodule "mako/.config/mako/acid"]
	path = mako/.config/mako/acid
	url = git@github.com:acid-theme/mako.git
[submodule "alacritty/.config/alacritty/acid"]
	path = alacritty/.config/alacritty/acid
	url = git@github.com:acid-theme/alacritty.git
[submodule "waybar/.config/waybar/acid"]
	path = waybar/.config/waybar/acid
	url = git@github.com:acid-theme/waybar.git
