[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:ssiyad/nvim.git
[submodule "qutebrowser/.config/qutebrowser/catppuccin"]
	path = qutebrowser/.config/qutebrowser/catppuccin
	url = https://github.com/catppuccin/qutebrowser
[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
