config/qutebrowser/*
!config/qutebrowser/config.py
!config/qutebrowser/conf/*.py

.vscode/
config/nvim/spell/
config/nvim/plugin

config/fish/*
config/fish/config.fish
config/fish/fish_plugins

config/tmux/plugins

**/.luarc.json

config/nvim/lazy-lock.json
