[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:ssiyad/nvim.git
[submodule "config/qutebrowser/catppuccin"]
	path = config/qutebrowser/catppuccin
	url = https://github.com/catppuccin/qutebrowser
