window#waybar {
  font-family: 'JetBrainsMono';
  font-size: 12px;
  color: whitesmoke;
  background-color: #1a1b26;
  opacity: 0.95;
}

#workspaces button {
  padding: 0;
  margin: 0;
  color: #777;
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: #444;
  color: #dfdfdf;
}

#mode {
  background: blueviolet;
  color: #201C1C;
}

#pulseaudio {
  color: paleturquoise;
}

#backlight {
  color: khaki;
}

#battery {
  color: lightseagreen;
}

#battery.charging {
  color: yellowgreen;
}

#battery.full {
  color: yellow;
  animation: blinker 1s linear infinite;
}

#battery.discharging.warning {
  color: orangered;
  animation: blinker 1s linear infinite;
}

#battery.discharging.critical {
  color: red;
  animation: blinker 1s linear infinite;
}

#network {
  color: greenyellow;
}

#cpu {
  color: cornflowerblue;
}

#memory {
  color: blueviolet;
}

#clock {
  color: lightgoldenrodyellow;
}

#custom-mail {
  color: mediumpurple;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}
