@import "mocha.css";

* {
    font-family: 'GeistMonoNerdFont';
    font-size: 10pt;
}

window#waybar {
    color: @text;
    background-color: @mantle;
}

#workspaces button {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0 2px;
    color: @surface1;
}

#workspaces button.focused {
    color: @text;
    background-color: @surface1;
}

#mode {
    background: @base;
    color: @yellow;
    padding: 0 4px;
}

#window {
    margin-left: 8px;
}

#wireplumber {
    color: @sky;
    margin-right: 8px;
}

#backlight {
    color: @yellow;
    margin-right: 8px;
}

#battery {
    color: @text;
    margin-right: 8px;
}

#battery.charging {
    color: @green;
}

#battery.full {
    color: @yellow;
    animation: blinker 1s linear infinite;
}

#battery.discharging.warning {
    color: @red;
    animation: blinker 1s linear infinite;
}

#battery.discharging.critical {
    color: @maroon;
    animation: blinker 1s linear infinite;
}

#network {
    color: @green;
    margin-right: 8px;
}

#cpu {
    color: @blue;
    margin-right: 8px;
}

#memory {
    color: @mauve;
    margin-right: 8px;
}

#clock {
    color: @yellow;
    margin-right: 8px;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}
